<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Trang đăng ký</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="VTC Academy">
    </div>
    <div class="welcome">
      <strong>CHÀO MỪNG BẠN ĐẾN VỚI TRANG PHÁT HIỆN NỘI DUNG VĂN BẢN VI PHẠM AI</strong>
    </div>
    <form class="login-box" onsubmit="handleSignup(event)">
      <h2>ĐĂNG KÝ THÔNG TIN</h2>
      <label for="username">Tên người dùng:</label>
      <input type="text" id="username" name="username" placeholder="Vui lòng nhập tên người dùng">

      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" name="password" placeholder="Vui lòng nhập mật khẩu">

      <div class="checkbox" style="text-align: right;">
        <a href="{{ url_for('home') }}">Đăng nhập</a>
      </div>

      <button type="submit">Đăng ký</button>
    </form>
  </div>

    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
</body>
</html>